// styling variables
$light-shade: #bfdfef;
$light-accent: #39bbea;
$light-hover: #67d5fc;
$mid-accent: #e2aa42;
$dark-accent: #e4598e;
$dark-shade: #1f0729;
$dark-shade-translucent: rgba(31, 7, 41, 0.8);
$dark-shade-translucent-hover: rgba(55, 15, 72, 0.8);
// Potential background images:
// Alien Iso - Light: https://i.pinimg.com/originals/86/ff/e5/86ffe54df89ba439756c972125bd9b81.jpg
// Alien Iso - Dark: https://wallpaperaccess.com/full/8098948.jpg
// Retrowave Sunset - Pixels: https://art.ngfiles.com/images/2023000/2023807_snow8bits_pixel-vaporwave-wallpaper.png?f1629318089
// Retrowave Sunset - Hi-Def: https://cdn.wallpapersafari.com/91/84/mCPu15.jpg

// mixins
@mixin wireframing() {

  div,
  section {
    box-sizing: border-box;
    border: 1px solid red;
  }
}

@mixin neon-border() {
  border: 2px solid $light-accent;
  border-radius: 1rem;
  padding: 0.5em 0;
  background-color: $dark-shade-translucent;
  box-shadow: 0px 0px 3px $light-accent,
    0px 0px 3px $light-accent inset;
}

// styles

body {
  height: 100vh;
  box-sizing: border-box;
  padding: 0.5em;
  text-align: center;
  font-family: 'Roboto Mono';
  background-color: $dark-shade;
  background-image: url(https://cdn.wallpapersafari.com/91/84/mCPu15.jpg);
  background-position: center;
  background-size: cover;
  color: $light-shade;
  cursor: default;

  * {
    box-sizing: border-box;
    // @include wireframing()
  }

  .txt-accent {
    color: $mid-accent;
  }

  .Tooltip {
    header span {
      font-size: 1.6em;
    }

    p {
      font-size: 1.4em;
      margin: 0.5em;
    }
  }

  #root {
    height: 100%;

    h1 {
      font-family: 'Rubik';
      font-size: 2em;
      margin: 0;
      padding: 0.25em;
    }

    h2,
    h3,
    h4 {
      font-family: 'Rubik';
      margin: 0;
      padding: 0.25em;
    }

    .Loading {
      padding-top: 20%;

      .load-text {
        @include neon-border();
        width: 10em;
        height: 2.5em;
        margin: 0 auto;
      }
    }

    p {
      margin: 0.5em;
    }

    a,
    .action {
      color: $light-accent;
      text-decoration: underline;
      width: fit-content;
      margin: 0 auto;
    }

    a:hover,
    .action:hover {
      color: $light-hover;
      cursor: pointer;
    }

    .Entry {
      font-size: 1.4rem;

      form {
        @include neon-border();
        width: fit-content;
        padding: 1em 2em;
        margin: 1em auto;

        fieldset {
          border: none;

          input,
          select {
            @include neon-border();
            background: $dark-shade;
            font-size: 0.8em;
            font-family: inherit;
            color: $light-shade;
            text-align: center;
            padding: 0.2em;
            appearance: none;
          }
        }
      }
    }

    .Home {
      main {
        padding: 1em 2em;
        display: flex;
        gap: 1em;

        .Agent {
          @include neon-border();
          width: fit-content;
          padding: 2em 4em;
          padding-bottom: 4em;
          display: flex;
          flex-direction: column;
          gap: 1em;
        }

        .Fleet {
          @include neon-border();
          padding: 1em 3em;
          width: 100%;

          .ships {
            padding-top: 1em;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(280px, auto));
            gap: 1em;

            .ShipCard {
              @include neon-border();
              padding: 1em 2em;
            }
          }
        }
      }
    }

    .ShipMenu {
      padding: 0.5em 1em;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 2.5fr 1fr;
      gap: 1em;

      .ship-left {
        display: grid;
        grid-template-rows: 1fr 2fr;
        gap: 1em;

        .Status,
        .Cargo {
          @include neon-border();

          .inventory {
            margin-top: 0.5em;

            .item {
              margin-bottom: 0.25em;
            }
          }
        }
      }

      .ship-centre {
        .interactions {
          @include neon-border();
          margin-top: 1em;
          padding: 1em;
          height: 80%;

          .waypoints {
            height: 50vh;
            overflow-y: auto;
            margin: 1em;
            margin-top: 0;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, auto));
            gap: 1em;
            padding: 1em;

            .WaypointCard {
              @include neon-border();
              padding: 0.5em 1em;
              text-align: center;
              align-self: center;
              justify-self: center;
            }

            .WaypointCard:hover {
              cursor: pointer;
              background-color: $dark-shade-translucent-hover;
            }
          }

          .Waypoint {
            height: 60vh;
            margin: 1em;
            padding: 0.5em;
            overflow-y: auto;

            ul {
              list-style: none;
              padding: 0px;
              margin: 0.5em 0;
              display: grid;
              grid-template-columns: repeat(auto-fill, minmax(220px, auto));
              gap: 1em;

              li {
                margin: 0.5em 0;
                font-size: 1.2em;
              }
            }

            .traits {
              display: grid;
              grid-template-columns: 1fr 1fr;
            }
          }

          .Marketplace {
            .market-details {
              height: 50vh;
              overflow-y: auto;
              margin: 1em;

              .grid-list {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(200px, auto));

                .Counter {
                  margin-top: 0.5em;

                  button {
                    background-color: $dark-shade;
                    text-align: center;
                    width: 1.4em;
                    height: 1.4em;
                    border-radius: 0.7em;
                    padding: 0 0.2em;
                  }

                  .add {
                    border: 1px solid #50b655;
                    color: #50b655;
                  }

                  .subtract {
                    border: 1px solid $dark-accent;
                    color: $dark-accent;
                  }

                }

                .count:hover {
                  border: 1px solid $light-hover;
                  color: $light-hover;
                }
              }
            }
          }

          .Shipyard {
            .available-ships {
              height: 50vh;
              overflow-y: auto;
              margin: 1em;

              .grid-list {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(250px, auto));
              }
            }
          }
        }
      }

      .ship-right {
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 1em;

        .Modules,
        .Mounts {
          @include neon-border();

          .Module,
          .Mount {
            margin-bottom: 0.25em;
          }
        }
      }
    }
  }
}