// styling variables

// mixins
@mixin border() {
  border: 2px solid deepskyblue;
  border-radius: 1em;
  box-shadow: 0px 0px 3px deepskyblue,
    0px 0px 3px deepskyblue inset;
}

// styles
* {
  text-align: center;
  // box-sizing: border-box;
  // border: 1px solid red;

  body {
    background-color: black;
    color: cyan;
  }

  div,
  section {
    padding: 0.5vh;
  }

  h1,
  h2,
  h3,
  h4 {
    margin: 0.25em;
  }

  .Fleet {
    .ShipCard {
      @include border;
      margin: 2vh;
    }
  }

  .ShipMenu {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

    .ship-left {
      display: grid;
      grid-template-rows: 1fr 2fr;
      gap: 2vh;

      .status,
      .cargo {
        @include border;
      }
    }

    .ship-centre {
      .nav {
        margin-top: 2vh;

        .waypoints {
          @include border;
          margin: 2vh;
          display: grid;
          grid-template-columns: 1fr 1fr;
          padding: 3vh;
        }
      }
    }

    .ship-right {
      display: grid;
      grid-template-rows: 1fr 1fr;
      gap: 2vh;

      .modules,
      .mounts {
        @include border;
      }
    }
  }
}